[Unit]
Description=ClamAv system-wide scan
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/clamscan -r --remove --log=/var/log/clamav/clamscan.log
User=root